<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Address</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Create New Address</h1>

    <!-- Uuden osoitteen luonti -->
    <form action="#" th:action="@{/addresses}" th:object="${address}" method="post">

        
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

       
        <label for="street">Street</label>
        <input type="text" id="street" th:field="*{street}" />
        <div th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>

        
        <label for="city">City</label>
        <input type="text" id="city" th:field="*{city}" />
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

       
        <label for="country">Country</label>
        <input type="text" id="country" th:field="*{country}" />
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>

       
        <label for="postalCode">Postal Code</label>
        <input type="text" id="postalCode" th:field="*{postalCode}" />
        <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>

   
        <button type="submit">Save Address</button>
    </form>

    <a href="/addresses">Back to Address List</a>
</body>
</html>